<% layout('layout/page') -%>
<% block('title', "Чат") -%>

<p>Добро пожаловать, <%= user.get('username') %></p>

<div id="room">
  <ul id="log"></ul>
</div>

<div class="input-group">
   <input id="inputMsg" placeholder="Введите сообщение" type="text" class="form-control">
   <span class="input-group-btn">
        <button id="btnSend" class="btn btn-primary" type="button">Отправить</button>
   </span>
</div>

<script>
  var socket = io.connect();

  var sendMessageToServer = function() {
  	var text = $('#inputMsg').val();
  	$('#inputMsg').val("");
  	socket.emit('message', text, function(data) {
  		$('#log').append("<li>"+text+"</li>");
  	});
  };

  $('#btnSend').click(function() {
  	sendMessageToServer();
  });

  $('#inputMsg').keypress(function(event){
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
       sendMessageToServer();
    }
});



  socket.on('message', function(text) {
    $('#log').append("<li>"+text+"</li>");
  });

</script>