<% layout('layout/page') -%>

<% block('title', 'Логин'); -%>

<form class="form-horizontal login-form" name="login-form">
	<div class="container">
		<p>Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.</p>
		<div class="form-group">
			<label for="input-username" class="col-lg-2 control-label">Имя</label>

			<div class="col-lg-10">
				<input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Имя">
			</div>
		</div>
	  <div class="form-group">
	    <label for="input-password" class="col-lg-2 control-label">Пароль</label>

	    <div class="col-lg-10">
	      <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Пароль">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
	      <span class="help-block error"></span>
	    </div>
	  </div>
	</div>
</form>
