<% layout('layout/page') -%>

<% block('title', 'Регистрация'); -%>


<br>
<h3>Введите имя пользователя и пароль. Логин должен быть уникальным.</h3>

<div class="form-group">
  <label for="newLogin">Логин *:</label>
  <input type="text" class="form-control" id="newLogin" placeholder="Введите логин">
</div>
<div class="form-group">
  <label for="newPwd">Пароль *:</label>
  <input type="password" class="form-control" id="newPwd" placeholder="Введите пароль">
</div>
<div class="form-group">
  <label for="repeatPwd">Пароль повторно *:</label>
  <input type="password" class="form-control" id="repeatPwd" placeholder="Повторите ввод пароля">
</div>
<div id="errorBox" class="alert alert-danger hide"></div>

<div class="form-group">
  <button id="btnReg" type="submit" class="btn btn-primary">Зарегистрировать</button>
</div>
