<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Введите логин и пароль</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input id="login" type="text" class="form-control input-lg" placeholder="Логин">
        </div>
        <div class="form-group">
          <input id="pwd" type="password" class="form-control input-lg" placeholder="Пароль">
        </div>
        <div id="msgBox" class="alert alert-danger hide"></div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button id="btnSignin" class="btn btn-primary btn-lg btn-block">Войти</button>
          <span class="pull-right"><a href="/registration">Регистрация</a></span>
        </div>
      </div>
    </div>
  </div>
</div>