
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <% if (user) { %>
        <li><a href="/chat">Чат</a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li>
          <a href="#" id="btnLogout">Выйти</a>
        </li>
        <% } else { %>
        <li><a id="btnLogin" href="#" data-toggle="modal" data-target="#loginModal">Войти</a></li>
        <li><a href="/registration" >Регистрация</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

  </div>


