<!DOCTYPE html>
<html>
  <head>
    <title><%=blocks.title%></title>

    <meta http-equiv="content-type" content="charset=UTF-8">

    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/sweetalert/sweetalert.css">

    <script src="./vendor/jquery214.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="./vendor/sweetalert/sweetalert.min.js"></script>
    <script src="./vendor/socket.io/socket.io-1.3.7.js"></script>

    <script src="./build/mod.js"></script>
    <script src="./js/my.js"></script>
    <!-- // <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script> -->

  </head>
  <body>
  <header>
    <%-blocks.header%>
  </header>

  <section class="container">

    <%-partial('../partials/preloader')%>

    <%-partial('../partials/topNavigation')%>

    <%-partial('../partials/login')%>

    <!-- h1><%=blocks.title%></h1> -->
    <div class="content">
      <%-body -%>
    </div>

    <%-partial('../partials/foot')%>

  </section>

  <footer>
    <%-blocks.footer%>
  </footer>

  </body>
</html>